/* general */
html, body {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

.gbor {
    border: 3px solid gold;
}

a {
    cursor: pointer;
}



/* welcomme page */
#defaultindex .col-6 {
    min-height: 600px;
    overflow: hidden;
}

#heroimg {
    background-color: #212121;
}

#herotxt {
    position: relative;
    top: 150px;
    left:50px;
    width: 430px;
}

#herotxt p {
    text-align: justify;
}

#defaultindex button {
    position: relative;
    top: 150px;
    left:50px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color: gold;
    transition: 0.4s ease-in-out;
}

#defaultindex button:hover {
    background-color: #212121;
    color: white;
}


#loginbg {
    position: absolute;
    top: 375px;
    left:120px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #212121;
    transform: scale(1);
    transition: 1.5s ease-in-out;
    z-index:-1;
    
}



/* login panel */
#loginpanel {
    color: white;
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 350px;
}

#loginpanel form {
    font-weight: bold;
    text-align: left;
}

#login, #register {
    transition: 0.3s ease-in-out;
    padding: 5px;
}

#rform {
    display: none;
}

#loginpanel #submitlr {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: gold;
    padding: 10px 20px;
    transition: 0.4s ease-in-out;
}

#loginpanel #submitlr:hover, #login:hover, #register:hover {
    background-color: white;
    color: #212121;
}



/* CRUD page */
#controller .col-3, #controller .col-9 {
    min-height: 800px ;
}

#controller .col-3 {
    background-color: #212121;
    color: white;
}

#profilepic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
}

