/* colors */
/* 
orange: #FBB03B
dark orange: #F7931E
darker orange: #F7781E
black: #212121
white: #FFFFFF
red: #FF094D
font-family: 'Ubuntu', sans-serif;

*/

/* general */
html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}


.gbor {
    border: 3px solid gold;
}

a,
a:hover {
    cursor: pointer;
    text-decoration: none !important;
}

/* welcome page */
#heroimage {
    text-align: center;
    padding: 20px 0;
    min-height: 300px;
}

#herobanner {
    max-width: 900px;
}

#mainbody {
    min-height: 470px;
    background-color: #212121;
    color: #eeeeee;
    text-align: center;
    margin: 20px 0;
    font-family: 'Ubuntu', sans-serif;
}

#mainbody h1 {
    font-weight: 700;
}

#mainbody p {
    width: 480px;
    margin: 20px auto;
    font-size: 18px;
}

#mainbody button {
    border: none;
    border-radius: 10px;
    background-color: #eeeeee;
    color: #212121;
    font-weight: 700;
    padding: 10px 20px;
    margin: 10px 0;
    transition: ease-in-out 0.3s;
}

#mainbody button:hover {
    background-color: #FBB03B;
}

#plussign {
    position: absolute;
    top: 270px;
    right: 7%;
    width: 100px;
}

#dividesign {
    position: absolute;
    top: 350px;
    left: 20%;
    width: 70px;
}

#pencil {
    position: absolute;
    top: 420px;
    right: 19%;
    width: 50px;
}

/* login panel */
#loginpanel {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    background-color: white;
    color: #212121;
    font-family: 'Ubuntu', sans-serif;
}

#loginpanel .fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
}

#loginpanel form h3 {
    margin: 0 80px;
    display: inline;
    transition: ease-in-out 0.3s;
    font-weight: 700;
}


#lform div,
#rform div {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

#lform input,
#rform input {
    background-color: gainsboro;
    color: #212121;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
}

#lform #submitl,
#rform #submitr {
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    background-color: #FBB03B;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

#lform #submitl:hover,
#rform #submitr:hover {
    background-color: #212121;
    color: white;
}

/* toolbar */
#mainpanel {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}

#toolbar {
    background-color: #212121;
    color: #ffffff;
    padding: 20px;
    height: 770px;
    font-family: 'Ubuntu', sans-serif;
}

#displayname {
    font-size: 26px;
}

#toolbar .fa-user-circle {
    font-size: 26px;
}

#toolbar a {
    font-weight: 500;
    border-radius: 10px;
    color: #ffffff;
    transition: ease-in-out 0.3s;
    display: block;
    margin: 20px 10px;
    padding: 5px 10px;
    transition: ease-in-out 0.2s;
}

#toolbar a:hover {
    background-color: #FBB03B;
    color: #212121;
}

/* profile page */
#introcontainer {
    width: 850px;
    margin: 10px auto;
}

#introcontainer a:hover {
    transform: scale(1.1);
    text-decoration: none !important;
}

#introcontainer a {
    transition: ease-in-out 0.4s;
    text-decoration: none !important;
}

.intro {
    font-family: 'Ubuntu', sans-serif;
    color: #212121;
    padding: 20px;
    width: 350px;
    height: 200px;
    margin: 10px 0;
    box-shadow: 3px 3px 10px 0px #eeeeee,
    -3px -3px 10px 0px #eeeeee;
}

#createbg {
    height: 150px;
    position: relative;
    left: 170px;
    bottom: 90px;
}

#searchbg {
    height: 130px;
    position: relative;
    left:20px;
}

#happybg {
    height: 130px;
    position: relative;
    left:20px;
}

#mynotesbg {
    position: relative;
    left: 30px;
    bottom: 10px;
    height: 130px;
}

#cheerbg {
    position: relative;
    left: 50px;
    top: 10px;
    height: 80px;
}

#likedbg {
    height: 140px;
    position: relative;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

/* create page */


#selectbar {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

#selectbar label {
    margin: 0 0 0 10px;
}

#selectbar {
    padding: 10px 20px;
}

#summernote {
    display: block;
    margin: 0 auto;
}

.note-editor {
    border: #212121 5px solid !important;
    border-radius: 10px !important;
    margin: 10px auto;

}

#submitnotebtn {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #FBB03B;
    color: #212121;
    font-weight: 700;
    margin: 0 0 0 10px;
    transition: ease-in-out 0.3s;
}

#submitnotebtn:hover {
    box-shadow: 0 8px 0 0 #F7781E;
    transform: translateY(-8px);
}

/* options bar */
#optionbar {
    background-color: #eeeeee;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#optionbar label,
#optionbar input {
    margin: 0 0 0 10px;
}

#optionbar #searchsubjbtn {
    padding: 5px;
    border: none;
    background-color: #eeeeee;
    color: #212121;
    border-radius: 10px;
    font-weight: 700;
}

/* search page */
.resulttable {
    width: 750px;
    height: 550px;
    overflow-y: scroll;
    margin: 30px auto;
}

.resultcard {
    max-width: 700px;
    border-radius: 10px;
    border: 3px #ffffff;
    padding: 20px;
    box-shadow: 3px 3px 10px 0px #eeeeee,
        -3px -3px 10px 0px #eeeeee;
    margin: 40px auto;
}

.resulttable .fa-heart {
    color: #212121;
    transition: 0.4s ease-in-out;
}

/* mynotes */
#UDpanel .resultcard .col-sm-4 button {
    background-color: #ffffff;
    border: none;
    padding: 10px;
}

#UDpanel .resultcard .row {
    border-bottom: 1px solid #212121;
}

#confirmpanel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    color: #212121;
    background-color: #ffffff;
    padding: 150px 15px;
    display: none;
    text-align: center;
}

#confirmpanel button {
    border: none;
    padding: 5px 15px;
    font-weight: 500;
    background-color: #212121;
    color: #ffffff;
    transition: ease-in-out 0.3s;
}

#confirmpanel a:hover button {
    background-color: #F7781E;
    color: #212121;
}

/* small devices */
@media (max-width: 768px) {

    /* home page */
    #herobanner {
        margin: 30px 0;
        max-width: 350px;
    }

    #heroimage {
        min-height: 200px;
    }

    #mainbody {
        min-height: 600px;
    }

    #mainbody p {
        max-width: 340px;
    }

    #mainbody button {
        margin: 30px 0;
    }

    #plussign {
        top: 180px;
        width: 40px;
    }

    #pencil {
        top: 450px;
        right: 15%;
        width: 20px;
    }

    #dividesign {
        top: 153px;
        left: 7%;
        width: 60px;
    }


    /* login mobile */
    #loginpanel {
        width: 350px;
    }

    #loginpanel form h3 {
        margin: 0px;
    }

    #loginpanel .col-6 {
        text-align: center;
    }

    /* logged in home page */
    #mainpanel {
        width: 100vw;
        margin: 0 !important;
    }

    #blkcontent {
        overflow-x: hidden;
    }

    #toolbarm {
        position: absolute;
        top: 0;
        z-index: 9999;
        width: 100%;
        background-color: #212121;
        font-family: 'Ubuntu', sans-serif;
    }

    #toolbarm button {
        margin: 10px;
        border: none;
        background-color: #212121;
        color: #ffffff;
    }

    #dropdownm li {
        text-decoration: none;
        list-style: none;
        margin: 15px 5px;
    }

    #dropdownm a {
        color: #ffffff;
        font-weight: 500;
        border-radius: 10px;
        padding: 5px 10px;
        transition: ease-in-out 0.2s;
    }

    #dropdownm .fa-user-circle {
        font-size: 26px;
    }

    #dropdownm {
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
        background-color: #212121;
        position: absolute;
        z-index: 999;
        transform: translateY(-300px);
        transition: ease-in-out 0.5s;
    }

    /* options bar */
    #optionbar {
        font-family: 'Ubuntu', sans-serif;
        margin: 0px auto;
        font-size: 16px;
        text-align: left;
        width: 90%;
    }

    #optionbar select,
    #optionbar label {
        margin: 10px;
        display: block;
    }

    #optionbar #searchsubjbtn {
        padding: 5px 0px;
    }

    /* create page */
    #selectbar {
        font-family: 'Ubuntu', sans-serif;
        text-align: left;
    }

    #selectbar label,
    #selectbar select {
        margin: 5px 0;
        display: block;
    }

    #submitnotebtn {
        margin: 10px 0;
    }

    .note-editor {
        width: 90% !important;
    }

    /* search page */
    .resulttable {
        padding: 0 15px !important;
        width: 100vw;
    }

    /* mynotes */
    #UDpanel .resultcard .col-12 button {
        background-color: #ffffff;
        border: none;
        padding: 10px;
    }
}

/* medium sized devices */
@media (min-width: 768px) and (max-width: 1024px) {

    /* home page */
    #herobanner {
        max-width: 700px;
    }

    #heroimage {
        min-height: 200px;
    }

    #mainbody {
        min-height: 600px;
    }

    #plussign {
        top: 210px;
        width: 70px;
    }

    #pencil {
        right: 15%;
        width: 30px;
    }

    #dividesign {
        top: 360px;
        left: 7%;
        width: 60px;
    }

    /* logged in med sized devices */
    #toolbar i {
        display: block;
    }

    #toolbar {
        text-align: center;
    }

    #optionbar {
        margin: 0px auto;
        font-size: 16px;
        text-align: left;
        width: 100%;
    }

    /* create */
    .note-editor {
        width: 90% !important;
    }

    #submitnotebtn {
        margin: 10px;
    }

    /* search */
    .resulttable {
        padding: 0 15px !important;
        width: 90%;
    }

}