/* colors */
/* 
orange: #FBB03B
black: #212121
white: white
font-family: 'Ubuntu', sans-serif;

*/

/* general */
html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.gbor {
    border: 3px solid gold;
}

a, a:hover {
    cursor: pointer;
    text-decoration: none !important;
}



/* welcome page */
#heroimage {
    text-align: center;
    padding: 20px 0;
}

#herobanner {
    width: 70%;
}

#mainbody {
    height: 320px;
    background-color: #212121;
    color: #eeeeee;
    text-align: center;
}

#mainbody h1 {
    font-weight: 700;
}

#mainbody p:nth-child(2) {
    width: 460px;
    margin: 20px auto;
    font-size: 18px;
}

#mainbody button {
    border: none;
    border-radius: 10px;
    background-color: #eeeeee;
    color: #212121;
    font-weight: 700;
    padding: 10px 20px;
    margin: 10px 0;
    transition: ease-in-out 0.5s;
}

#mainbody button:hover {
    background-color: #FBB03B;
}

#plussign {
    position: absolute;
    top: 220px;
    right: 80px;
    width: 100px;
}

#dividesign {
    position: absolute;
    top: 350px;
    left: 150px;
    width: 70px;
}

#pencil {
    position: absolute;
    top: 380px;
    right: 250px;
    width: 50px;
}

/* login panel */
#loginpanel {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    background-color: white;
    color: #212121;
}

#loginpanel .fa-times {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
}

#loginpanel form h3 {
    margin: 0 80px;
    display: inline;
    transition: ease-in-out 0.3s;
    font-weight: 700;
}


#lform div,
#rform div {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
}

#lform input,
#rform input {
    background-color: gainsboro;
    color: #212121;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
}

#lform #submitl,
#rform #submitr {
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    background-color: #FBB03B;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

#lform #submitl:hover,
#rform #submitr:hover {
    background-color: #212121;
    color: white;
} 


/* CRUD page */
#toolbar {
    background-color: #212121;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 500;
    margin: 10px auto;
    z-index: 999;
    position: relative;
}

#toolbar a {
    padding: 10px 0 0 0;
    color: #ffffff;
    transition: ease-in-out 0.3s;
}

#toolbar a:hover {
    color: #ffffff;
    border-bottom: 3px #FBB03B solid;
}

#mybanner {
    height: 50px;
}

#createsprite {
    position: absolute;
    top: 68px;
    left: 530px;
    height: 50px;
    transition: ease-in-out 0.3s;
    z-index: 1;
}

#searchsprite {
    position: absolute;
    top: 68px;
    left: 690px;
    height: 50px;
    transition: ease-in-out 0.3s;
    z-index: 1;
}

#notesprite {
    position: absolute;
    top: 68px;
    left: 850px;
    height: 50px;
    transition: ease-in-out 0.3s;
    z-index: 1;
}

#likesprite {
    position: absolute;
    top: 68px;
    left: 1010px;
    height: 50px;
    transition: ease-in-out 0.3s;
    z-index: 1;
}

/* #leftpanel,
#rightpanel {
    min-height: 550px;
}

#leftpanel a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 0px;
    text-align: left;
    display: block;
}



#leftpanel a span:hover {
    border-bottom: #FBB03B 2px solid;
}

#leftpanel button {
    display: block;
    text-align: center;
} */

/* profile picture */
/* #profilepic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 20px auto;
}

#leftpanel {
    background-color: #212121;
    color: white;
}

#leftpanel h4 {
    text-align: center;
} */


/* search results */
.resultcard {
    max-width: 700px;
    border-radius: 10px;
    border: 3px #ffffff;
    padding: 10px;
    box-shadow: 3px 3px 10px 0px #eeeeee,
    -3px -3px 10px 0px #eeeeee;
    margin: 0 auto 30px auto;
}

/* create note */
.note-editor {
    border: #212121 5px solid !important;
    border-radius: 10px !important;
    margin: 20px auto;
}

.note-toolbar {
    border-bottom: #212121 5px solid !important;
    border-radius: 10px 10px 0 0;
}

#createnoteform label, #updateform label {
    margin: 0 10px;
}

/* mynotes */
#mynotespanel .row p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}




/* common */
#searchbysubj select, 
#createnoteform select, 
#searchmynotes select, 
#searchsavednotes select,
#updateform select  {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    margin: 0 15px 0 0;
}

#Rpanel h1, 
#Cpanel h1, 
#UDpanel h1, 
#Upanel h1 {
    font-weight: 700;
}


/* buttons */
#submitnotebtn,
#leftpanel button,
#searchbtn,
#searchsubjbtn,
#searchmynotesbtn,
#savednotesbtn, .resultcard button{
    margin: 10px auto;
    border: none;
    background-color: #FBB03B;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
    transform: translateY(0);
    transition: 0.6s ease-in-out;
}

#submitnotebtn {
    display: block;
}

#searchbtn:hover,
#leftpanel button:hover,
#submitnotebtn:hover,
#searchsubjbtn:hover,
#searchmynotesbtn:hover,
#savednotesbtn:hover,
.resultcard .row button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0px 1px #F15A24;
}

/* search results container */
.resulttable, #mysavednotes, #mynotespanel {
    height: 400px;
    overflow-y: scroll;
}

.resulttable .fa-heart, #savednotes .fa-heart {
    color: #212121;
    transition: 0.4s ease-in-out;
} 

/* magnifying glass icon button */
#searchmynotesbtn,
#searchsubjbtn,
#savednotesbtn {
    padding: 10px;
}