/* general */
html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
}

.gbor {
    border: 3px solid gold;
}

a {
    cursor: pointer;
    text-decoration: none;
}



/* welcomme page */
#defaultindex .col-6 {
    height: 600px;
    overflow: hidden;
}

#heroimg {
    background-color: #212121;
}

#herotxt {
    position: relative;
    top: 150px;
    left: 50px;
    width: 430px;
}

#herotxt p {
    text-align: justify;
}

#defaultindex button {
    position: relative;
    top: 150px;
    left: 50px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color: gold;
    transition: 0.4s ease-in-out;
}

#defaultindex button:hover {
    background-color: #212121;
    color: white;
}


#loginbg {
    position: absolute;
    top: 375px;
    left: 120px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #212121;
    transform: scale(1);
    transition: 1.5s ease-in-out;
    z-index: -1;

}



/* login panel */
#loginpanel {
    color: white;
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 350px;
}

#loginpanel form {
    font-weight: bold;
    text-align: left;
}

#login,
#register {
    transition: 0.3s ease-in-out;
    padding: 5px;
}

#rform {
    display: none;
}

#submitl,
#submitr {
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: gold;
    padding: 10px 20px;
    transition: 0.4s ease-in-out;
}

#submitl:hover,
#submitr:hover,
#login:hover,
#register:hover {
    background-color: white;
    color: #212121;
}



/* CRUD page */
#leftpanel,
#rightpanel {
    height: 568px;
}

#leftpanel a {
    color: white;
}


#leftpanel a:hover {
    border-bottom: gold 2px solid;
    text-decoration: none;
}

/* profile picture */
#profilepic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 20px auto;
}

#leftpanel {
    background-color: #212121;
    color: white;
}

#leftpanel h4 {
    text-align: center;
}

#leftpanel .mt-3 a {
    margin: 0px 40px;
    transition: 0.3s ease-in-out;
}

/* search */
.resultcard {
    max-width: 700px;
    border: 1px #212121 solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 0px 0px #212121;
    margin: 0 auto 30px auto;
}

#resulttable {
    height: 400px;
    overflow-y: scroll;
}

#resulttable .fa-heart, #savednotes .fa-heart {
    color: red;
}


/* create note */
#Cpanel form {
    margin: 10px auto;
}

.note-editor {
    border: #212121 5px solid !important;
    border-radius: 10px !important;
    margin: 20px auto;
}

.note-toolbar {
    border-bottom: #212121 5px solid !important;
    border-radius: 10px 10px 0 0;
    /* background-color: #212121 !important; */
}

#submitnotebtn,
#leftpanel button,
#searchbtn,
#searchsubjbtn,
#searchmynotesbtn,
#savednotesbtn {
    margin: 10px auto;
    border: none;
    background-color: gold;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
    transform: translateY(0);
    transition: 0.6s ease-in-out;
}

#submitnotebtn {
    display: block;
}

#searchbtn:hover,
#leftpanel button:hover,
#submitnotebtn:hover,
#searchsubjbtn:hover,
#searchmynotesbtn:hover,
#savednotesbtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0px 1px orange;
}

/* my notes */
#mynotespanel {
    height: 400px;
    overflow-y: scroll;
}