{% extends 'index.template.html' %}

{% block content %}
<!-- Create a note and save it into the database -->
<div id="Cpanel">
  <form method="POST" id="createnoteform">
    <div id='selectbar'>
      <label><b>Select a Subject: &nbsp;</b></label>
      <select size=1 name="postedsubject" id="selectsubjc" onchange="onSubjChange2()">
        <option value="Physics">Physics</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Math">Math</option>
        <option value="Geography">Geography</option>
      </select>
      <label><b>Select a Topic: &nbsp;</b></label>
      <select name="subjecttopics" size=1 id="selecttopicsc">
        <option value="Measurement">Measurement</option>
        <option value="Newtonian Mechanics">Newtonian Mechanics</option>
        <option value="Thermal Physics">Thermal Physics</option>
        <option value="Waves">Waves</option>
        <option value="Electricity & Magnetism">Electricity & Magnetism</option>
      </select>
      <input type="submit" value="Create!" id="submitnotebtn" form="createnoteform">
    </div>
    <textarea id="summernote" name="editordata"></textarea>
  </form>
</div>

<script>
   // page indicator/reminder for users
   $('#toolbar a').eq(1).css('background-color','#FFFFFF')
   $('#toolbar a').eq(1).css('color','#212121')
</script>
{% endblock %}