<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/styles.css">
  <!-- Bootstrap CSS -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.js"></script>

  <!-- my script -->
  <script src="/static/script.js"></script>
  <title>Hello, world!</title>
</head>

<!-- if user is anonymous/unregistered -->
{% if current_user.is_anonymous %}

<body>
  <main>
    <!-- welcome page -->
    <div class="container-fluid" id="defaultindex">
      <div class="row">
        <div class="col-6">
          <div id="herotxt">
            <h1>Share Your Notes & Ideas</h1>
            <br>
            <p>Fill in your knowledge gaps with study notes shared by others,
              or help others by sharing your knowledge.
            </p>
            <br>
          </div>
          <span id="loginbg"></span>
          <button id="getstarted">Get Started!</button>
        </div>
        <div class="col-6" id="heroimg"></div>
      </div>
    </div>

    <!-- login panel -->
    <div id="loginpanel">
      <form method="POST">
        <div class="row justify-content-between">
          <div class="col-3">
            <h3>
              <a onclick="showlform()"><span id="login">Login</span></a>
            </h3>
          </div>
          <div class="col-3">
            <h3>
              <a onclick="showrform()"><span id="register">Register</span></a>
            </h3>
          </div>
          <div class="col-3">
            <a onclick="hideforms()"><i class="fas fa-times"></i></a>
          </div>
        </div>
        <br>
        <br>
        <div id="lform">
          <label for="loginemail">Email: </label>
          <br>
          <input type="email" name="loginemail" placeholder="enter your email">
          <br>
          <br>
          <label for="loginpw">Password: </label>
          <br>
          <input type="password" name="loginpw" placeholder="enter your password">
          <br>
          <br>
          <input type="submit" value="Log In" id="submitl">
        </div>
        <div id="rform">
          <label for="registername">Display Name: </label>
          <br>
          <input type="text" name="registername" placeholder="enter a display name">
          <br>
          <br>
          <label for="registeremail">Email: </label>
          <br>
          <input type="email" name="registeremail" placeholder="enter your email">
          <br>
          <br>
          <label for="registerpw">Password: </label>
          <br>
          <input type="password" name="registerpw" placeholder="enter your password">
          <br>
          <br>
          <input type="submit" value="Register" id="submitr">
        </div>
        <br>

      </form>
    </div>
  </main>
  <!-- warning alert if user creates an account with a registered email -->
  {% if myalert %}
  <script>
    alert('{{myalert}}')
  </script>
  {% endif %}
</body>
{% endif %}

<!-- for registered users -->
{% if current_user.is_authenticated %}

<body>
  <main>
    <!-- controller page CRUD -->
    <div class="container-fluid" id="controller">
      <div class="row">
        <div class="col-3" id="leftpanel">
          <div id="profilepic"></div>
          <h4>{{username}}</h4>
          <!-- user controls -->
          <div class="mt-3">
            <a href="{{url_for('create')}}"><i class="fas fa-plus-circle"></i> Create Note</a>
            <br>
            <a href="{{url_for('search')}}"><i class="fas fa-search"></i> Search</a>
            <br>
            <a href="{{url_for('mynotes')}}"><i class="fas fa-sticky-note"></i> My Notes</a>
            <!-- <br>
            <a href="{{url_for('search')}}"><i class="fas fa-user-plus"></i>Following</a> -->
            <br>
            <a href="{{url_for('savednotes')}}"><i class="fas fa-heart"></i> Saved Notes</a>
            <br>
            <br>
            <a href="{{url_for('logout')}}"><button>Logout</button></a>
          </div>
        </div>

        <div class="col-9" id="rightpanel">
          {% block content %}
          {% endblock %}
          

          
          <!-- <div class="mycarousel" id="RFpanel">
            Following
          </div>
          <div class="mycarousel" id="RSpanel">
            Saved Notes
          </div> -->
        </div>
      </div>
    </div>
  </main>
</body>
{% endif %}

</html>