{% extends 'index.template.html' %}

{% block content %}
<div id="UDpanel">
    {% include 'options.template.html' %}


    {% if searchresults %}
    <!-- first if-->
    <!-- pagination -->
    {% set resultslen = searchresults|length %}

    {% if resultslen <= 5 %}
    {% set pages = 1 %}
    {% elif resultslen%5 > 0 %}
    {% set pages = resultslen//5 + 1 %}
    {% else %}
    {% set pages = resultslen//5 %}
    {% endif %}

    <!-- show page navigation if there are multiple pages -->
    {% if pages > 1 %}
    <div class='row pr-5 justify-content-end'>
        <b>Page: &nbsp;</b>
        <a onclick="displayPrev()">Prev &nbsp;</a>
        <!-- page number -->
        {% for i in range(pages) %}
        <a onclick="displayPage( `{{i+1}}` )">{{i+1}}&nbsp;</a>
        {% endfor %}
        <a onclick="displayNext()">Next &nbsp;</a>
    </div>
    {% endif %}


    {% set n = namespace(counter = 0) %}
    <!-- if there's only 1 page -->
    {% if pages == 1 %}
    <!-- second nested if-->
    <div class="resulttable" id="page{{pages}}">
        {% for result in searchresults %}
        <div class="mt-5 resultcard">
            <div class="row mb-4 justify-content-between">
                <div class="col-12 col-sm-6">
                    <p><b>{{result['subject']}}:&nbsp;</b> {{result['topic']}}</p>
                    <p><b><i class="fas fa-calendar-alt"></i>&nbsp;</b> {{result['date']}}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-row justify-content-end">
                    <a href="{{url_for( 'update', index = result['_id'] )}}" class="mr-3"><button><i
                                class="fas fa-user-edit"></i> </button>
                    </a>
                    <a onclick="confirmDel( `{{result['_id']}}` )">
                        <button><i class="fas fa-trash-alt"></i></button>
                    </a>
                </div>
            </div>
            <div>
                {{result['content']}}
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- if there's more than 1 page -->
    {%elif pages > 1%}
    {% for i in range(pages) %}
    <!-- for pages(range) loop-->
    <div class="resulttable" id="page{{pages}}">
        <!-- inner loop -->
        <!-- if there's a remainder -->
        {% if resultslen%5 > 0 and i == pages - 1 %}
        {% for result in searchresults[n.counter:resultslen] %}
        <div class="mt-5 resultcard">
            <div class="row mb-4 justify-content-between">
                <div class="col-12 col-sm-6">
                    <p>{{result['subject']}}:&nbsp; {{result['topic']}}</p>
                    <p><i class="fas fa-calendar-alt"></i>&nbsp; {{result['date']}}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-row justify-content-end">
                    <a href="{{url_for( 'update', index = result['_id'] )}}" class="mr-3"><button><i
                                class="fas fa-user-edit"></i> Update</button></a>
                    <a onclick="confirmDel( `{{result['_id']}}` )"><button><i class="fas fa-trash-alt"></i>
                            Delete</button></a>
                </div>
            </div>
            <hr>
            <div>
                {{result['content']}}
            </div>
        </div>
        {% endfor %}
        <!-- if there's no remainder -->
        {% else %}
        {% for result in searchresults[n.counter:n.counter+5] %}
        <div class="mt-5 resultcard">
            <div class="row mb-4 justify-content-between">
                <div class="col-12 col-sm-6">
                    <p>{{result['subject']}}:&nbsp; {{result['topic']}}</p>
                    <p><i class="fas fa-calendar-alt"></i>&nbsp; {{result['date']}}</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-row justify-content-end">
                    <a href="{{url_for( 'update', index = result['_id'] )}}" class="mr-3"><button><i
                                class="fas fa-user-edit"></i> Update</button></a>
                    <a onclick="confirmDel( `{{result['_id']}}` )"><button><i class="fas fa-trash-alt"></i>
                            Delete</button></a>
                </div>
            </div>
            <hr>
            <div>
                {{result['content']}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- if end for multiple pages -->
    </div>
    {% set n.counter = n.counter + 5 %}
    {% endfor %}
    <!-- if end for pages(range)-->
    {% endif %}
    <!-- second nested if end-->
    {% endif %}
    <!-- first if end-->
</div>

<div id='confirmpanel'>
    <p><b>Are you sure you want to delete?</b></p>
    <a href=""><button>Yes</button></a>
    <a onclick="closeConfirmation()" class="ml-5"><button>No</button></a>
</div>

<script>
    // page indicator/reminder for users
    $('#toolbar a').eq(3).css('background-color', '#FFFFFF')
    $('#toolbar a').eq(3).css('color', '#212121')

    $('#dropdownm a').eq(3).css('background-color','#FFFFFF')
    $('#dropdownm a').eq(3).css('color','#212121')

    $('.resulttable').hide()
    $('.resulttable').eq(0).show()
    let maxPage = $('.resulttable').length
    let currentPage = 1

    function confirmDel(noteid) {
        let deleteroute = "delete/" + noteid.toString()
        $('#confirmpanel').show()
        
        $('#confirmpanel').find('a').eq(0).attr("href", deleteroute.toString())
        console.log('test', $('#confirmpanel').find('a').eq(0))
    }

    function closeConfirmation() {
        $('#confirmpanel').hide()
    }

    function displayPage(x) {
        $('.resulttable').hide()

        $('.resulttable').eq(x - 1).show()
        currentPage = parseInt(x)
    }

    function displayNext() {
        if ((currentPage + 1) <= maxPage) {
            displayPage(currentPage + 1);
        }
    }

    function displayPrev() {
        if ((currentPage - 1) > 0) {
            displayPage(currentPage - 1)
        }
    }
</script>
{% endblock %}