{% extends 'index.template.html' %}

{% block content %}
<div id="UDpanel">
    <h1>My Notes</h1>
    <div class="container-fluid d-flex justify-content-center">
        <form method="POST" id="searchmynotes">
            <label><b>Select a Subject: </b></label>
            <select size=1 name="searchmysubject" id="selectsubju" onchange="onSubjChange('u')">
                <option value="Physics" {% if chosens == "Physics" %} selected {% endif %}>Physics</option>
                <option value="Chemistry" {% if chosens == "Chemistry" %} selected {% endif %}>Chemistry</option>
                <option value="Math" {% if chosens == "Math" %} selected {% endif %}>Math</option>
                <option value="Geography" {% if chosens == "Geography" %} selected {% endif %}>Geography</option>
            </select>
            <label><b>Select a Topic: </b></label>
            <select name="searchmytopic" size=1 id="selecttopicsu">
                {% if chosens == 'Physics' %}
                <option value="Measurement" {% if chosent == "Measurement" %}selected{% endif %}>Measurement</option>
                <option value="Newtonian Mechanics" {% if chosent == "Newtonian Mechanics" %}selected{% endif %}>
                    Newtonian
                    Mechanics</option>
                <option value="Thermal Physics" {% if chosent == "Thermal Physics" %}selected{% endif %}>Thermal Physics
                </option>
                <option value="Waves" {% if chosent == "Waves" %}selected{% endif %}>Waves</option>
                <option value="Electricity & Magnetism"
                    {% if chosent == "Electricity & Magnetism" %}selected{% endif %}>
                    Electricity & Magnetism</option>
                {% endif %}
                {% if chosens == 'Chemistry' %}
                <option value="Experimental Chemistry" {% if chosent == "Experimental Chemistry" %}selected{% endif %}>
                    Experimental Chemistry</option>
                <option value="Atomic Structure & Stoichiometry"
                    {% if chosent == "Atomic Structure & Stoichiometry" %}selected{% endif %}>
                    Atomic Structure & Stoichiometry</option>
                <option value="Chemistry of Reactions" {% if chosent == "Chemistry of Reactions" %}selected{% endif %}>
                    Chemistry of Reactions</option>
                <option value="Periodicity" {% if chosent == "Periodicity" %}selected{% endif %}>Periodicity</option>
                <option value="Atmosphere" {% if chosent == "Atmosphere" %}selected{% endif %}>Atmosphere</option>
                <option value="Organic Chemistry" {% if chosent == "Organic Chemistry" %}selected{% endif %}>Organic
                    Chemistry</option>
                {% endif %}
                {% if chosens == 'Math' %}
                <option value="Number & Algebra" {% if chosent == "Number & Algebra" %}selected{% endif %}>Number &
                    Algebra
                </option>
                <option value="Geometry & Measurement" {% if chosent == "Geometry & Measurement" %}selected{% endif %}>
                    Geometry & Measurement</option>
                <option value="Statistics & Probablity"
                    {% if chosent == "Statistics & Probablity" %}selected{% endif %}>
                    Statistics & Probablity</option>
                {% endif %}
                {% if chosens == 'Geography' %}
                <option value="Our Dynamic Planet" {% if chosent == "Our Dynamic Planet" %}selected{% endif %}>Our
                    Dynamic
                    Planet</option>
                <option value="Our Changing World" {% if chosent == "Our Changing World" %}selected{% endif %}>Our
                    Changing
                    World</option>
                <option value="Geographical Skills & Investigations"
                    {% if chosent == "Geographical Skills & Investigations" %}selected{% endif %}>Geographical Skills &
                    Investigations</option>
                {% endif %}
            </select>
            <input type="submit" value="&#xf002;" class="fas fa-search" form="searchmynotes" id="searchmynotesbtn">
        </form>
    </div>

    <div id="mynotespanel" class="mt-5">
        {% if user_notes %}
        {% for notes in user_notes %}
        <div class="mt-5 resultcard">
            <div class="row mb-4 justify-content-between">
                <div class="col-6">
                    <p>{{loop.index}} )&nbsp; {{notes['subject']}}:&nbsp; {{notes['topic']}}</p>
                    <p>Posted on:&nbsp; {{notes['date']}}</p>
                </div>
                <div class="col-4 d-flex flex-row justify-content-end">
                    <a href="{{url_for( 'update', index = notes['_id'] )}}" class="mr-3"><button><i class="fas fa-user-edit"></i> Update</button></a>
                    <a href="{{url_for( 'delete', index = notes['_id'] )}}"><button><i class="fas fa-trash-alt"></i> Delete</button></a>
                </div>
            </div>
            <div>
                {{notes['content']}}
            </div>
        </div>
        {%endfor%}
        {% endif %}
    </div>
</div>


{% endblock %}