{% extends 'index.template.html' %}

{% block content %}
<p class="mt-3 ml-3"><b>Welcome, {{username}}!</b></p>

<div class="row d-flex justify-content-around" id="introcontainer">
    <a href="{{url_for('create')}}">
        <div class="intro">
            <i>"While We Teach, We Learn."</i>
            <p>- Seneca, Roman Philosopher</p>
            <p><b>Create a Note!</b></p>
            <img src="/static/images/create.png" id="createbg">
        </div>
    </a>
    <a href="{{url_for('search')}}">
        <div class="intro">
            <p><b>Discover Notes Shared By Others!</b></p>
            <img src="/static/images/search.png" id="searchbg">
            <img src="/static/images/happy.png" id="happybg">
        </div>
    </a>
    <a href="{{url_for('mynotes')}}">
        <div class="intro">
            <p><b>Edit Your Notes!</b></p>
            <img src="/static/images/mynotes.png" id="mynotesbg">
            <img src="/static/images/cheer.png" id="cheerbg">
        </div>
    </a>
    <a href="{{url_for('savednotes')}}">
        <div class="intro">
            <p><b>Notes You Like!</b></p>
            <img src="/static/images/liked.png" id="likedbg">
        </div>
    </a>
</div>


<!-- <div class="container">
    <img src="/static/images/mynotes.png" id="mynotesbg">
    <img src="/static/images/liked.png" id="likedbg">
</div> -->
<script>
    // page indicator/reminder for users
    $('#toolbar a').eq(0).css('background-color', '#FFFFFF')
    $('#toolbar a').eq(0).css('color', '#212121')
</script>

{% endblock %}