{% extends 'index.template.html' %}

{% block content %}
<div id="savednotes">
    <h1>Saved Notes</h1>
    {% include 'options.template.html' %}

    <div id="mysavednotes" class="mt-5">
        {% if user_notes %}
        {% for notes in user_notes %}
        <div class="mt-5 resultcard">{{notes['content']}}
            <div class="mt-5 row justify-content-between">
                <div class="col-4">Date: {{notes['date']}}</div>
                <div class="col-4">Posted By: {{notes['displayname']}}</div>
                <div class="col-2"><a href="{{url_for( 'savenote', index = notes['_id'] )}}" onclick="likePlus(this)"><i
                            class="fas fa-heart" {% if notes['_id'] in user_liked_notes %}style="color: rgb(255, 0, 0)"
                            {% endif %}></i></a>&nbsp; <span>{{notes['likes']}}</span></div>
            </div>
        </div>
        {%endfor%}
        {% endif %}
    </div>
</div>







{% endblock %}