{% extends 'index.template.html' %}

{% block content %}
<div id="Rpanel">
  <h1>Discover Notes</h1>
  <div class="container-fluid d-flex justify-content-center">
    <form method="POST" id="searchbysubj">
      <label><b>Select a Subject: </b></label>
      <select size=1 name="searchsubject" id="selectsubjr" onchange="onSubjChange('r')">
        <option value="All" {% if chosens == "All" %} selected {% endif %}>All</option>
        <option value="Physics" {% if chosens == "Physics" %} selected {% endif %}>Physics</option>
        <option value="Chemistry" {% if chosens == "Chemistry" %} selected {% endif %}>Chemistry</option>
        <option value="Math" {% if chosens == "Math" %} selected {% endif %}>Math</option>
        <option value="Geography" {% if chosens == "Geography" %} selected {% endif %}>Geography</option>
      </select>
      <label><b>Select a Topic: </b></label>
      <select name="searchtopic" size=1 id="selecttopicsr">
        {% if chosens == 'All' %}
        <option> </option>
        {% endif %}
        {% if chosens == 'Physics' %}
        <option value="Measurement" {% if chosent == "Measurement" %}selected{% endif %}>Measurement</option>
        <option value="Newtonian Mechanics" {% if chosent == "Newtonian Mechanics" %}selected{% endif %}>Newtonian
          Mechanics</option>
        <option value="Thermal Physics" {% if chosent == "Thermal Physics" %}selected{% endif %}>Thermal Physics
        </option>
        <option value="Waves" {% if chosent == "Waves" %}selected{% endif %}>Waves</option>
        <option value="Electricity & Magnetism" {% if chosent == "Electricity & Magnetism" %}selected{% endif %}>
          Electricity & Magnetism</option>
        {% endif %}
        {% if chosens == 'Chemistry' %}
        <option value="Experimental Chemistry" {% if chosent == "Experimental Chemistry" %}selected{% endif %}>
          Experimental Chemistry</option>
        <option value="Atomic Structure & Stoichiometry"
          {% if chosent == "Atomic Structure & Stoichiometry" %}selected{% endif %}>
          Atomic Structure & Stoichiometry</option>
        <option value="Chemistry of Reactions" {% if chosent == "Chemistry of Reactions" %}selected{% endif %}>Chemistry
          of Reactions</option>
        <option value="Periodicity" {% if chosent == "Periodicity" %}selected{% endif %}>Periodicity</option>
        <option value="Atmosphere" {% if chosent == "Atmosphere" %}selected{% endif %}>Atmosphere</option>
        <option value="Organic Chemistry" {% if chosent == "Organic Chemistry" %}selected{% endif %}>Organic Chemistry
        </option>
        {% endif %}
        {% if chosens == 'Math' %}
        <option value="Number & Algebra" {% if chosent == "Number & Algebra" %}selected{% endif %}>Number & Algebra
        </option>
        <option value="Geometry & Measurement" {% if chosent == "Geometry & Measurement" %}selected{% endif %}>Geometry
          & Measurement</option>
        <option value="Statistics & Probablity" {% if chosent == "Statistics & Probablity" %}selected{% endif %}>
          Statistics & Probablity</option>
        {% endif %}
        {% if chosens == 'Geography' %}
        <option value="Our Dynamic Planet" {% if chosent == "Our Dynamic Planet" %}selected{% endif %}>Our Dynamic
          Planet</option>
        <option value="Our Changing World" {% if chosent == "Our Changing World" %}selected{% endif %}>Our Changing
          World</option>
        <option value="Geographical Skills & Investigations"
          {% if chosent == "Geographical Skills & Investigations" %}selected{% endif %}>Geographical Skills &
          Investigations</option>
        {% endif %}
      </select>
      <input type="submit" value="&#xf002;" class="fas fa-search" form="searchbysubj" id="searchsubjbtn">
    </form>
  </div>
  <div class="mt-5 container-fluid" id="resulttable">
    {% if searchresults %}
    {% for result in searchresults %}
    <div class="mt-5 resultcard">{{result['content']}}
      <div class="mt-5 row justify-content-between">
        <div class="col-4">Date: {{result['date']}}</div>
        <div class="col-4">Posted By: {{result['displayname']}}</div>
        <div class="col-2"><a href="{{url_for( 'savenote', index = result['_id'] )}}" onclick="likePlus(this)"><i
              class="fas fa-heart" {% if result['_id'] in user_liked_notes %}style="color: rgb(255, 0, 0)"
              {% endif %}></i></a>&nbsp; <span>{{result['likes']}}</span></div>
      </div>
    </div>

    {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock %}