{% extends 'index.template.html' %}

{% block content %}
<div id="Rpanel">
    <h1>Search</h1>
    <div class="container-fluid">
      <form method="POST" id="searchbysubj">
        <label><b>Select a Subject: </b></label>
        <select size=1 name="searchsubject" id="selectsubjr" onchange="onSubjChange('r')">
          <option value="Physics">Physics</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Math">Math</option>
          <option value="Geography">Geography</option>
        </select>
        <label><b>Select a Topic: </b></label>
        <select name="searchtopic" size=1 id="selecttopicsr">

        </select>
        <input type="submit" value="Search!" form="searchbysubj" id="searchsubjbtn">
      </form>
    </div>
    <div class="mt-5 container-fluid" id="resulttable">
      {% if searchresults %}
      {% for result in searchresults %}
      <div class="resultcard">{{result['content']}}
        <div class="mt-5 row justify-content-between">
          <div class="col-4">Date: {{result['date']}}</div>
          <div class="col-4">Posted By: {{result['displayname']}}</div>
          <div class="col-2"><a><i class="fas fa-heart"></i></a> {{result['likes']}}</div>
        </div>
      </div>

      {% endfor %}
      {% endif %}
    </div>
  </div>


{% endblock %}