{% extends 'index.template.html' %}



{% block content %}
<h1 class="ml-3">{{title}}</h1>

<section id="followlist">
    {% for i in data %}
    <div class="viewcard">
        <img src="/static/images/default.png">&nbsp; <a href="{{url_for('profile', userid=i)}}">{{i}}</a>
    </div>
    {% endfor %}
</section>

<script>
    $('#toolbar a').eq(0).css('background-color', '#FFFFFF')
    $('#toolbar a').eq(0).css('color', '#212121')

    $('#dropdownm a').eq(0).css('background-color', '#FFFFFF')
    $('#dropdownm a').eq(0).css('color', '#212121')
</script>

{% endblock%}